/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// Specify any additional parameters here
// Or any resources requirements

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://github.com/nf-core/test-datasets/raw/refs/heads/rnavar/data'
}

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}
