/*
========================================================================================
    Config file for defining DSL2 per module options
========================================================================================
    Available keys to override module options:
        args            = Additional arguments appended to command in module.
        args2           = Second set of arguments appended to command in module (multi-tool modules).
        args3           = Third set of arguments appended to command in module (multi-tool modules).
        publish_dir     = Directory to publish results.
        publish_by_meta = Groovy list of keys available in meta map to append as directories to "publish_dir" path
                            If publish_by_meta = true                 - Value of ${meta['id']} is appended as a directory to "publish_dir" path
                            If publish_by_meta = ['id', 'custompath'] - If "id" is in meta map and "custompath" isn't then "${meta['id']}/custompath/"
                                                                        is appended as a directory to "publish_dir" path
                            If publish_by_meta = false / null         - No directories are appended to "publish_dir" path
        publish_files   = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
                            The value of "directory" is appended to the standard "publish_dir" path as defined above.
                            If publish_files = null (unspecified)     - All files are published.
                            If publish_files = false                  - No files are published.
        suffix          = File name suffix for output files.
----------------------------------------------------------------------------------------
*/

params {
    modules {
        'cat_fastq' {
            publish_dir     = 'fastq'
        }
        'star_genomegenerate' {
            publish_dir     = 'genome/index'
        }
        'star_align' {
            args            = '--twopassMode Basic --outSAMtype BAM Unsorted --readFilesCommand zcat --sjdbOverhang 149'
            publish_dir     = "${params.aligner}"
            publish_files   = ['out':'log', 'tab':'log']
        }
        'samtools_sort_genome' {
            suffix          = '.sorted'
            publish_files   = [:]
            publish_dir     = "${params.aligner}"
        }
        'samtools_index_genome' {
            args            = ''
            suffix          = '.sorted'
            publish_files   = ['stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir     = "${params.aligner}"
        }
        'picard_markduplicates' {
            args            = 'ASSUME_SORTED=true REMOVE_DUPLICATES=false VALIDATION_STRINGENCY=LENIENT TMP_DIR=tmp'
            suffix          = '.markdup.sorted'
            publish_files   = ['bam': '', 'metrics.txt':'picard_metrics']
            publish_dir     = "${params.aligner}"
        }        
        'picard_markduplicates_samtools' {
            args            = ''
            suffix          = '.markdup.sorted'
            publish_files   = ['bai':'', 'csi':'', 'stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir     = "${params.aligner}"
        }
        'gatk_splitncigar_options' {
            args            = ''
            suffix          = '.split_cigar.bam'
            publish_files   = ['bam': '', 'bai': '']
            publish_dir     = "${params.aligner}"
        }
        'gatk_baserecalibrator' {
            args            = ''
            suffix          = ''
            publish_files   = [:]
            publish_dir     = "${params.aligner}/recalibrated"
        }
        'gatk_applybqsr' {
            args            = ''
            suffix          = ''
            publish_files   = [:]
            publish_dir     = "${params.aligner}/recalibrated"
        }
        'gatk_haplotypecaller' {
            args            = '-dont-use-soft-clipped-bases --standard-min-confidence-threshold-for-calling 20'
            suffix          = ''
            publish_files   = [:]
            publish_dir     = "${params.aligner}/variants"
        }
        'gatk_intervallisttools' {
            args            = '--SUBDIVISION_MODE BALANCING_WITHOUT_INTERVAL_SUBDIVISION_WITH_OVERFLOW --UNIQUE true --SORT true'
            suffix          = ''
            publish_files   = [:]
            publish_dir     = "${params.aligner}/interval_lists"
        }
        // RECALIBRATE
        'applybqsr' {
            suffix           = '.recal'
            publish_files    = false
        }
        'merge_bam_recalibrate' {
            suffix           = '.recal'
            publish_by_meta  = true
            publish_files    = ['bam':'recalibrated']
            publish_dir      = 'preprocessing'
        }
        'qualimap_bamqc_recalibrate' {
            args             = '--paint-chromosome-limits --genome-gc-distr HUMAN -skip-duplicated --skip-dup-mode 0 -outformat HTML'
            publish_by_meta  = true
            publish_dir      = 'reports/qualimap'
        }
        'samtools_index_recalibrate' {
            suffix           = 'recal'
            publish_by_meta  = true
            publish_dir      = 'preprocessing'
            publish_files    = ['recal.bam':'recalibrated', 'recal.bam.bai':'recalibrated']
        }
        'samtools_stats_recalibrate' {
            publish_by_meta  = true
            publish_dir      = 'reports/samtools_stats'
        }
        'gatk_mergevcfs' {
            suffix           = 'haplotypecaller'
            publish_by_meta  = true
            publish_dir      = 'variant_calling'
            publish_files    = ['vcf.gz':'haplotypecaller', 'vcf.gz.tbi':'haplotypecaller']
        }
        'gatk_variantfilter' {
            args             = ''
            suffix           = 'filtered'
            publish_by_meta  = true
            publish_dir      = 'variant_calling'
            publish_files    = ['vcf.gz':'haplotypecaller', 'vcf.gz.tbi':'haplotypecaller']
        }
    }
}
