/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnavar -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data
    input = 'assets/samplesheet_test.csv'

    // Genome references
    fasta               = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
    fasta_fai           = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta.fai'
    fasta_dict          = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.dict'
    gtf                 = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.gtf'
    gff                 = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gff.gz'
    transcript_fasta    = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/transcriptome.fasta'

    dbsnp_vcf           = 'https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/vcf/dbsnp_146.hg38.vcf.gz'
    dbsnp_vcf_index     = 'https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/vcf/dbsnp_146.hg38.vcf.gz.tbi'
    known_indels        = 'https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/vcf/mills_and_1000G.indels.vcf.gz'
    known_indels_index  = 'https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/vcf/mills_and_1000G.indels.vcf.gz.tbi'

    hisat2_index        = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/hisat2.tar.gz'
    star_index          = 'https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/index/star/star.tar.gz'
    salmon_index        = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/salmon.tar.gz'
    rsem_index          = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/rsem.tar.gz'

    // Other parameters
    pseudo_aligner      = 'salmon'
    umitools_bc_pattern = 'NNNN'

    // When using RSEM, remove warning from STAR whilst building tiny indices
    modules {
        'rsem_preparereference' {
            args2 = "--genomeSAindexNbases 7"
        }
    }
}
